.container {
  position: fixed;
  text-align: center;
  bottom: 2%;
  margin-right: 10vw;
  margin-left: 10vw;
  width: 80vw;
  background-color: greenyellow;
  border-radius: 0.5rem;
  padding: 1rem;
}
