.button {
  color: white;
  border-style: none;
  border-radius: 0.25rem;
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  letter-spacing: 0.1rem;
}

.typePrimary {
  background-color: var(--clr-primary);
}

.typeError {
  background-color: var(--clr-error);
}

.typeWarning {
  background-color: var(--clr-warning);
}

.typeSuccess {
  background-color: var(--clr-success);
}

.small {
  padding: 0.5rem 1rem;
}

.medium {
  padding: 0.75rem 1.25rem;
}

.large {
  padding: 1rem 1.5rem;
}
