.button {
  color: white;
}
.typePrimary {
  background-color: var(--clr-primary);
}
.typeError {
  background-color: var(--clr-error);
}
.typeWarning {
  background-color: var(--clr-warning);
}
.typeSuccess {
  background-color: var(--clr-success);
}
.small {
  padding: 1rem;
}
.medium {
  padding: 2rem;
}
.large {
  padding: 3rem;
}
